extends layout.pug

block content
    if locals.authenticated
      h1#greeting Hello, #{user.username}
    div#question-page
      each question in questions
        div.question-box
          if question.userId === user.id
            form(action=`/questions/delete/${question.id}` method='post')
              button.delete-post Delete Question
          h3.question-author= question.User.username
          h2.question-title= question.name
          p.question-content= question.content
          each answer in answers
            if answer.questionId === question.id
              .answer-box
              if answer.userId === user.id
                form(action=`/comments/delete/${answer.id}` method='post')
                  button.delete-post Delete Answer
              p.answer=answer.content
          form(action='/comments', method='post').add-comment
            input(type='hidden', value=question.id, name='questionId')
            textarea.comment-value(name="comment", cols="30", rows="5")
            button(type='submit').comment-button Post Comment
